@charset "UTF-8";
*{margin: 0; padding: 0;}
li{list-style: none;}
a{text-decoration: none;}
image{border: 0;}
html,body{height: 100%}

#main_header{
  height: 60px;
  line-height: 60px;
  padding: 10px;
  background: #1b4183;
  color: white;
  border-bottom: 1px solid black;
}

#main_gnb{
  overflow: hidden;
  background: #323949;
  border-bottom: 1px solid black;
}

#main_gnb > ul.left{
  overflow: hidden;
  float: left;
}

#main_gnb > ul.right{
  overflow: hidden;
  float: right;
}

#main_gnb > ul.left > li, #main_gnb > ul.right > li{
  float: left;
}

#main_gnb a{
  display: block;
  padding: 10px 20px;
  color: white;
  font-weight: bold;
}

#wrap{
  overflow: hidden;
  background: #6ab2ce;
}

#wrap > #main_lnb{
  float: left;
  width: 200px;
}

#wrap > #content_wrap{
  float: left;
  width: calc( 100% - 200px);
  background: white;
}

#wrap > #content_wrap > #content{
  min-height: 600px;
  padding: 50px;
  border-left: 1px solid black;
}

article{
  padding: 10px 0;
}

article:first-child, article:last-child{
  padding: 0;
}

#main_lnb > ul > li > a{
  display: block;
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid #96d7f7;
  color: white;
  padding-left: 15px;
  font-weight: bold;
}

#main_footer{
  padding-top: 10px;
  height: 52px;
  text-align: center;
  border-top: 3px solid black;
}
